<center>
      {{! dont change or beautify this code else extra spaces are added in the editor}}
      <div class="editor-container" style="margin-top: 10rem;">
        <div id="editor"></div>     
      </div>
    <button id="compileBtn">Compile</button>
    <div id="output"></div>
</center>