<header class="masthead masthead-front">
  <p class="masthead-intro">Code Spaces</p>
  <h1 class="masthead-heading">Access Your Code anywhere</h1>
</header>
{{!-- <section class="introduction-section"> --}}
<div style="background: rgba(255, 255, 255, 0.5); border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); backdrop-filter: blur(5px); width: 80%; margin: 0 auto;">
  <h3 style="text-align: center; color: #333;">What is it all about?</h3>
  <p style="text-align: justify; color: #555;">An application that simplifies code storage and retrieval by allowing users to input code with associated tags. The app enables easy searching based on these tags, making it effortless to find specific code snippets. Additionally, it includes a compiler that supports popular programming languages like C++, Python, C, and Java, providing users with the convenience of running their code directly within the application.</p>

  <p style="text-align: justify; color: #555;">Moreover, I have added an exciting feature that fetches coding questions from CoderForcs, displaying them alongside the compiler. This integration aims to assist users in tackling coding challenges more efficiently and effectively. The combination of code storage, quick access to the compiler, and readily available coding questions creates a comprehensive coding platform that fosters a seamless and user-friendly coding experience.</p>

  <h3 style="text-align: center; color: #333;">How does it work</h3>
  <p style="text-align: justify; color: #555;">Features:</p>
  <ul style="list-style-type: disc; color: #555;">
    <li>Store code with tags</li>
    <li>Search stored code with tags</li>
    <li>Authentication</li>
    <li>Compiler</li>
    <li>Codeforces Questions support</li>
  </ul>
</div>


  <footer class="content-footer">
    <div class="footer-container">
    <p>Say hi to me on these social networks:</p>
    
    <a target="_blank" href="https://github.com/nirbhay97"><img src="static/github-svg.svg" alt="GitHub-logo" style="width:30px;height:30px;"></a>
    &nbsp;
    <a href="https://twitter.com/nickky_729" target="_blank"><img src="static/twitter-svg.svg" alt="Twitter-logo" style="width:30px;height:30px;"></a>
    &nbsp;
    <a href="https://www.linkedin.com/in/nirbhay-kumar-a826531ba/" target="_blank"><img src="static/linkedin-svg.svg" alt="linkedin-logo" style="width:30px;height:30px;"></a>
    </div>

  </footer>

{{!-- </section> --}}